@charset "utf-8";
header {
	background-color: #F6E3A3;
	padding-left: 10px;
	padding-bottom: 73px;
	padding-top: 5px;
	padding-right: 10px;
	border-radius: 45px;
}
#indexheader {
	background-color: #F6E3A3;
	padding-left: 10px;
	padding-bottom: 73px;
	padding-top: 5px;
	padding-right: 10px;
	border-radius: 45px 45px 0px 0px;
}
#index {
}
h1 {
	text-align: center;
	font-family: knewave;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}

#links {
	text-decoration: none;
	font-size: 113px;
	line-height: 97px;
	font-family: rancho;
	font-style: normal;
	font-weight: 400;
	color: #1E28E2;
}
#mainsign {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	border: 18px groove #F6E3A3;
	font-size: 42px;
	text-align: center;
	width: 480px;
	position: relative;
	left: 36%;
	top: 140px;
	color: #000000;
	padding-top: 34px;
	padding-right: 0px;
	padding-bottom: 34px;
	padding-left: 0px;
	background-color: #FBF4DB;
	text-decoration: none;
}
#form {
	text-decoration: none;
	color: #000000;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	width: 0px;
	padding-left: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#currentL {
	background-color: #FBF4DB;
	border: 18px groove #F6E3A3;
	width: 480px;
	color: #000000;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	position: relative;
	left: 36%;
	top: 240px;
	padding-top: 34px;
	padding-bottom: 34px;
	text-align: center;
	text-decoration: none;
}
#announcements {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	width: 460px;
	position: relative;
	left: 36%;
	border: 18px groove #F6E3A3;
	top: 340px;
	background-color: #FBF4DB;
	padding-top: 0px;
	padding-bottom: 20px;
	padding-right: 20px;
}
h2 {
	text-align: center;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	margin-top: -1px;
	margin-bottom: -1px;
}
#Gcontact {
	position: relative;
	left: auto;
	text-align: left;
	width: 99%;
	background-color: #F8EBBD;
	padding-left: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: -700px;
	border-radius: 15px;
}
#Rcontact {
	position: relative;
	left: auto;
	text-align: left;
	width: 99%;
	background-color: #F8EBBD;
	padding-left: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: -100px;
	border-radius: 15px;
}
#Lcontact {
	position: relative;
	left: auto;
	text-align: left;
	width: 99%;
	background-color: #F8EBBD;
	padding-left: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: -100px;
	border-radius: 15px;
}
#Icontact {
	position: relative;
	left: auto;
	text-align: left;
	width: 99%;
	background-color: #F8EBBD;
	padding-left: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: -415px;
	border-radius: 15px;
}
#Fcontact {
	position: relative;
	left: auto;
	text-align: left;
	width: 99%;
	background-color: #F8EBBD;
	padding-left: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: -450px;
	border-radius: 15px;
}
#Mcontact {
	position: relative;
	left: auto;
	text-align: left;
	width: 99%;
	background-color: #F8EBBD;
	padding-left: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: -450px;
	border-radius: 15px;
}

#phone {
	position: relative;
	left: 31%;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 0px;
}






#formlink {
	font-size: 79px;
	font-family: rancho;
	font-style: normal;
	font-weight: 400;
	position: absolute;
	left: 119px;
	top: 76px;
}
#leaderboardlink {
	font-family: rancho;
	font-style: normal;
	font-weight: 400;
	font-size: 79px;
	position: absolute;
	right: 68px;
	top: 76px;
}
#ruleslink {
	font-family: rancho;
	font-style: normal;
	font-weight: 400;
	font-size: 79px;
	position: absolute;
	left: 46%;
	top: 231px;
}
#guidelineslink {
	font-family: rancho;
	font-style: normal;
	font-weight: 400;
	font-size: 79px;
	position: absolute;
	left: 184px;
	top: 231px;
}
#aboutuslink {
	font-family: rancho;
	font-style: normal;
	font-weight: 400;
	font-size: 79px;
	position: absolute;
	top: 231px;
	right: 206px;
}





#otherLinks {
	text-decoration: none;
	color: #1E28E2;
}

body {
	background-color: #A0E8EF;
}
#ref {
	position: relative;
	left: 765px;
	font-size: 11px;
	top: 246px;
}

source {
	position: relative;
	left: auto;
	right: auto;
	top: 56px;
}
#sr {
	top: 245px;
	position: relative;
	left: auto;
	right: -40%;
	font-size: 10px;
}


#indexleft  {
	float: none;
	position: absolute;
	top: 323px;
	height: 115%;
	left: auto;
	width: 26%;
}
#indexright {
	width: 26%;
	height: 115%;
	position: absolute;
	top: 323px;
	right: 0.5%;
	float: none;
}
h3 {
	font-size: 75px;
	text-align: center;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
}
#guidelinesContainer {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	position: static;
}
#guidelinesContent {
	width: 80%;
	left: 11%;
	position: absolute;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: -6px;
}
#volleyballrules {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	margin-left: 100px;
	margin-right: 100px;
}
h4 {
	font-size: 49px;
	text-align: center;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	left: 15%;
	position: relative;
	margin-bottom: -6px;
}
#moredetails {
	margin-left: 100px;
	margin-right: 100px;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
}
h5 {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 49px;
	left: -20%;
	position: relative;
	padding-top: 0px;
	margin-bottom: -6px;
	width: 93%;
}
#aboutSecond {
	position: relative;
	top: 110px;
	left: -5px;
	margin-right: auto;
	margin-left: 100px;
}
#aboutSlammers {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
}



#imgGame {
	float: left;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 6px;
}
#imgSlam {
	right: auto;
	position: static;
	float: right;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 6px;
}
#imgLink {
	position: absolute;
	top: 323px;
	z-index: 1;
	font-size: 12px;
}
#xtraLinks {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	position: relative;
	top: 0px;
	text-align: center;
	font-size: 38px;
}
#aboutThird {
	position: relative;
	top: 300px;
	text-align: left;
	width: 50%;
	left: 25%;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
}
#table {
	position: relative;
	text-align: center;
	left: 29%;
	font-size: 23px;
	border: 6px double #1E28E2;
	background-color: #FBF4DB;
}
	
	table th {
		border: 1px solid #1E28E2;
		border-collapse: collapse;
	}
#thankyou {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 99px;
	text-align: center;
}
#home {
	position: absolute;
	right: 42%;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	top: 50%;
}
#fieldOne {
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	left: 0px;
	margin-bottom: 37px;
	margin-top: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style: solid;
	border-color: #000000;
}
#firstname {
	margin-bottom: 15px;
	margin-top: 15px;
}
#lastname {
	margin-bottom: 15px;
	margin-top: 15px;
}
#phonenumber {
	margin-bottom: 15px;
	margin-top: 15px;
}
#emailaddress {
	margin-bottom: 15px;
	margin-top: 15px;
}
#competitionday {
	margin-bottom: 15px;
	margin-top: 15px;
}
#competitiontime {
	margin-top: 15px;
	margin-bottom: 15px;
}
#submit {
	left: 55%;
	position: relative;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;

}
#cancel {
	position: relative;
	left: 33%;
	font-family: buenard;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}
#problem {
}
